body
{
	background-image: url("noise.png");
}

/* latin */
@font-face 
{
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(RockSalt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* spacing */
table 
{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th 
{
  line-height: 1.5;
}

thead th:nth-child(1) 
{
  width: 30%;
}

thead th:nth-child(2) 
{
  width: 20%;
}

thead th:nth-child(3) 
{
  width: 15%;
}

thead th:nth-child(4) 
{
  width: 35%;
}

thead th:nth-child(5) 
{
  width: 35%;
}

thead th:nth-child(6) 
{
  width: 35%;
}

th,
td 
{
  padding: 20px;
}

/* typography */
html 
{
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

thead th,
tfoot th 
{
  font-family: "Rock Salt", cursive;
}

th 
{
  letter-spacing: 2px;
}

td 
{
  letter-spacing: 1px;
}

tbody td 
{
  text-align: center;
}

tfoot th 
{
  text-align: right;
}

/* graphics */
thead,
tfoot 
{
  background: url("leopardskin.jpg");
  color: white;
}

thead th,
tfoot th,
tfoot td 
{
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.5));
  border: 3px solid purple;
  text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) 
{
  background-color: #ff33cc;
}

tbody tr:nth-child(even) 
{
  background-color: #e495e4;
}

tbody tr 
{
  background-image: url("noise.png");
}

table 
{
  background-color: #ff33cc;
}

/* caption */
caption 
{
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: top;
  color: #666666;
  text-align: right;
  letter-spacing: 1px;
}

.footnote 
{
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: top;
  color: red;
  text-align: right;
  letter-spacing: 1px;
}